class1 {
    padding: 2%;
    border-style: groove;
}
class2 {
    padding: 2%;
    border-style: groove;
}
class3 {
    padding: 2%;
    border-style: groove;
}
class4 {
    padding: 2%;
    border-style: groove;
}